/* Footer Container */
.footer {
    background-color: var(--color-footer);
    color: var(--color-text-white);
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.5);

    /* Initially hidden */
    visibility: hidden;
    transition: opacity 0.3s;
}

/* Show footer */
.footer.show {
    opacity: 1;
    visibility: visible;
}

/* Email Link */
.footer a {
    color: var(--color-white);
    font-family: var(--font-family), sans-serif;
}

/* Social Buttons Container */
.social-buttons {
    margin: 10px 0;
}

.social-buttons a {
    color: var(--color-white);
    font-size: 1.5rem;
    margin: 0 10px;
    transition: transform 0.3s, color 0.3s;
}

.social-buttons a:hover {
    color: var(--color-element-hover);
    transform: scale(1.2);
}

/* Last line styling */
.footer .copyright {
    margin-top: 15px;
    font-size: 0.9rem;
}