.HeaderContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.7cm;

    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-separation-line);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;

}

.header-left {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.header-right {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

@media (min-width: 767px) {
    .phone-only {
        display: none;
    }
}

/* Title */
.title h1 {
    font-family: var(--font-family), sans-serif;
    color: var(--color-text-header);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    white-space: nowrap;
}

.title.phone-only h1 {
    font-size: 1rem;
    padding-top: 12px;
}

@media (max-width: 370px) {
    .title.phone-only h1 {
        transform: translate(-15px, 0px) scale(0.9);
    }
}

/* Donate Button */
.donate-button {
    margin-top: 12px;
    margin-right: 12px;
}

@media (max-width: 370px) {
    .donate-button {
        transform: translate(-15px, 0px) scale(0.9);
    }
}

/* Button Logo */
.image-button.logo {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 5px;
    transition: transform 0.1s ease;
}