.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.coming-soon > p {
    color: var(--color-text-white);
}

.qr {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
    filter: invert(1);
}