/* Banner */
.image-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center 49%;
}

@media (max-width: 700px) {
    .image-banner {
        width: 100%;
        height: 200px;
        object-position: center 25%;
    }
}
