html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-family), serif;
    background-color: var(--color-page-background);
}

a {
    text-decoration: none;
    color: inherit;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.content {
    flex: 1; /* Grow to fill space between header and footer */
}
