@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --color-page-background: #232323;
    --color-footer: #2a2a2a;
    --color-header: #2a2a2a;

    --color-separation-line: #4f4f4f;

    --color-text-header: #ffffff;
    --color-text-footer: #ffffff;
    --color-text-home: #ffffff;

    --color-light-grey: #D9DDE2;



    --color-text-white: #fff;
    --color-black: #000;


    --color-element-neutral: #20ac29;
    --color-element-hover: #40bc69;
    --color-element-pressed: #20ac59;
    --color-white: #fff;

    --color-logo-brown-bright: #A88158;
    --color-logo-brown-dark: #4D362C;

    --font-family: 'Nunito', sans-serif;


    --button-transition: transform 0.15s ease, background 0.2s ease, box-shadow 0.2s ease;
}

html, body, #root {
    height: 100%;          /* Full viewport height */
    margin: 0;             /* Remove default body margin */
    padding: 0;            /* Remove default padding */
    overflow-x: hidden;    /* Prevent horizontal scroll */
}